set(CPACK_PACKAGE_NAME "{{CPACK_PACKAGE_NAME}}")
set(CPACK_PACKAGE_DESCRIPTION "{{CPACK_PACKAGE_DESCRIPTION}}")
{#set(CPACK_PACKAGE_FILE_NAME "{{CPACK_PACKAGE_FILE_NAME}}")#}
set(CPACK_PACKAGE_VERSION "{{CPACK_PACKAGE_VERSION}}")
set(CPACK_PACKAGE_VERSION_MAJOR "{{CPACK_PACKAGE_VERSION_MAJOR}}")
set(CPACK_PACKAGE_VERSION_MINOR "{{CPACK_PACKAGE_VERSION_MINOR}}")
set(CPACK_PACKAGE_VERSION_PATCH "{{CPACK_PACKAGE_VERSION_PATCH}}")
set(CPACK_INSTALLED_DIRECTORIES{% for CPACK_INSTALLED_DIRECTORY_PAIR in CPACK_INSTALLED_DIRECTORIES%} "{{CPACK_INSTALLED_DIRECTORY_PAIR[0]}}" "{{CPACK_INSTALLED_DIRECTORY_PAIR[1]}}" {% endfor -%})
set(CPACK_PACKAGE_FILE_NAME "{% if CPACK_PACKAGE_FILE_NAME %}{{ CPACK_PACKAGE_FILE_NAME }}{% else %}${CPACK_PACKAGE_NAME}-${CPACK_PACKAGE_VERSION}-${CMAKE_HOST_SYSTEM}-${CMAKE_HOST_SYSTEM_PROCESSOR}{% endif %}")
set(CPACK_PACKAGE_DIRECTORY "{{CPACK_PACKAGE_DIRECTORY}}")
set(CPACK_PACKAGE_INSTALL_DIRECTORY "Galatea Config Editor")
set(CPACK_PACKAGE_VENDOR "University Library at The University of Illinois at Urbana Champaign")
{% if CPACK_RESOURCE_FILE_LICENSE %}set(CPACK_RESOURCE_FILE_LICENSE "{{CPACK_RESOURCE_FILE_LICENSE}}"){%- endif %}
set(CPACK_WIX_UPGRADE_GUID "1810CEAB-FE8F-40DA-BA29-1C81E806F9B8")
{% if CPACK_WIX_VERSION%}set(CPACK_WIX_VERSION "{{CPACK_WIX_VERSION}}"){%- endif %}
{% if CPACK_WIX_SIZEOF_VOID_P%}set(CPACK_WIX_SIZEOF_VOID_P "{{CPACK_WIX_SIZEOF_VOID_P}}"){%- endif %}
{% if CPACK_PACKAGE_INSTALL_DIRECTORY %}set(CPACK_PACKAGE_INSTALL_DIRECTORY "{{CPACK_PACKAGE_INSTALL_DIRECTORY}}"){%- endif %}
set(CPACK_PACKAGE_EXECUTABLES "gce;Galatea Config Editor")
